body {
    text-align: center;
    background-color: lightsteelblue;
    font-size: xx-large;
}

.button {
    border: 5px solid black;
    border-radius: 15px;
    padding: 10px 30px;
    margin-bottom: 20px;
    text-decoration: none;
    background-color: darkgreen;
    color: white;
    transition: background 0.5s ease-in-out, border-color 0.5s ease-in-out;
    font-size: 1.1em;
}

